<!-- Registration Form -->
<form [formGroup]="registerForm">
  <!-- Name -->
  <app-input
    type="text"
    label="Name"
    placeholder="Enter Name"
    [control]="registerForm.controls.name"
  ></app-input>
  <!-- Email -->
  <div class="mb-3">
    <app-input
      type="email"
      label="Email"
      placeholder="Enter Email"
      [control]="registerForm.controls.email"
    ></app-input>
  </div>
  <!-- Age -->
  <div class="mb-3">
    <app-input
      type="number"
      label="Enter Age"
      placeholder="Age"
      [control]="registerForm.controls.age"
    />
  </div>
  <!-- Password -->
  <div class="mb-3">
    <app-input
      type="password"
      label="Password"
      placeholder="Password"
      [control]="registerForm.controls.password"
    />
  </div>
  <!-- Confirm Password -->
  <div class="mb-3">
    <app-input
      type="password"
      label="Confirm Password"
      placeholder="Confirm Password"
      [control]="registerForm.controls.confirm_password"
    />
  </div>
  <!-- Phone Number -->
  <div class="mb-3">
    <label class="inline-block mb-2">Phone Number</label>
    <input
      formControlName="phoneNumber"
      type="text"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="Enter Phone Number"
    />
  </div>
  <button
    type="submit"
    class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500"
  >
    Submit
  </button>
</form>
