<div class="mb-3">
  <label class="inline-block mb-2">{{ label }}</label>
  <input
    [formControl]="control"
    [type]="type"
    class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
    [placeholder]="placeholder"
    [mask]="format"
    [dropSpecialCharacters]="false"
  />
  <ng-container *ngIf="control.touched">
    <!-- <p>{{ registerForm.get('name')?.errors }}</p> -->
    <!-- <p>{{ control.errors | json }}</p> -->
     <p *ngIf="control.errors?.['required']" class="text-red-400">
      The field is required
     </p>
     <p *ngIf="control.errors?.['minlength']" class="text-red-400">
      Must be minimum
      {{ control.errors!['minlength'].requiredLength }} characters long
      and currently it is only
      {{ control.errors!['minlength'].actualLength }}
     </p>
     <p *ngIf="control.errors?.['email']" class="text-red-400">
      Must be a valid email address
     </p>
     <p *ngIf="control.errors?.['min']" class="text-red-400">
      Cannot be less than {{ control.errors!['min'].min }}
     </p>
     <p *ngIf="control.errors?.['max']" class="text-red-400">
      Cannot be more than {{ control.errors!['max'].max }}
     </p>
     <p *ngIf="control.errors?.['pattern']" class="text-red-400">
      Must have at least one character of each: lowercase, uppercase, number, special
     </p>
  </ng-container>
</div>
